
@{
    ViewBag.Title = "Index";
}

<section>
    <h2>Badmintonklubben Fjer</h2>
    <p>Welcome to Badmintonklubben Fjer</p>
    <br />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lectus quis sem lacinia nonummy.
        Proin mollis lorem non dolor. In hac habitasse platea dictumst.
        Nulla ultrices odio. Donec augue. Phasellus dui.
        Maecenas facilisis nisl vitae nibh. Proin vel seo est vitae eros pretium dignissim.
        Aliquam aliquam sodales orci. Suspendisse potenti. Nunc adipiscing euismod arcu.
    </p>
    <p>
        Quisque facilisis mattis lacus. Fusce bibendum, velit in venenatis viverra, tellus ligula dignissim felis, quis euismod mauris tellus ut urna. Proin scelerisque.
        Nulla in mi. Integer ac leo. Nunc urna ligula, gravida a, pretium vitae, bibendum nec, ante. Aliquam ullamcorper iaculis lectus. Sed vel dui.
        Etiam lacinia risus vitae lacus. Aliquam elementum imperdiet turpis. In id metus. Mauris eu nisl.
        Nam pharetra nisi nec enim. Nulla aliquam, tellus sed laoreet blandit, eros urna vehicula lectus, et vulputate mauris arcu ut arcu.
        Praesent eros metus lirum larum, accumsan a, malesuada et, commodo vel, nulla. Aliquam sagittis auctor sapien. Morbi a nibh.
    </p>
    <img class="rescale" src="http://www.kubipet.com/data/out/13/iwp780074262-badminton-wallpapers.jpg" />

    <p>Si meliora dies, ut vina, poemata reddit, velim scire, chartis pretium quotus arroget annus. scriptor abhinc annos centum qui decidit, inter perfectos veteresque referri debet an inter vilis atque novos? 
    Excludat iurgia finis, "Est vetus atque probus, centum qui perficit annos." Quid, qui deperiit minor uno mense vel anno, inter quos referendus erit?</p>
    <p>
        Veteresne poetas, an quos et praesens et postera respuat aetas? Iste quidem veteres inter ponetur honeste, qui vel mense brevi vel toto est iunior anno. 
        Utor permisso, caudaeque pilos ut equinae paulatim vello unum, demo etiam unum, dum cadat elusus ratione ruentis acervi, qui redit in fastos et virtutem aestimat annis miraturque nihil nisi quod Libitina sacravit.
    </p>
    <img src="http://www.kubipet.com/data/out/13/iwp779795248-badminton-wallpapers.jpg" />
    <p>
        Ennius et sapines et fortis et alter Homerus, ut critici dicunt, leviter curare videtur, quo promissa cadant et somnia Pythagorea. Naevius in manibus non est et mentibus haeret paene recens. 
    </p>
    <p>
        Adeo sanctum est vetus omne poema. ambigitur quotiens, uter utro sit prior, aufert Pacuvius docti famam senis Accius alti.
    </p>

</section>